<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="inputFilePathDir" value="C:\Users\Raman Nikhil B\OneDrive - BigThinkCode Technologies Pvt. Ltd\Desktop\personal\Brady\Input" />
		<add key="outputFilePath" value="C:\Users\Raman Nikhil B\OneDrive - BigThinkCode Technologies Pvt. Ltd\Desktop\personal\Brady\Output\01-Basic-Result.xml" />
		<add key="referenceXmlData" value="C:\Users\Raman Nikhil B\OneDrive - BigThinkCode Technologies Pvt. Ltd\Desktop\personal\Brady\ReferenceData\ReferenceData.xml" />
	</appSettings>
</configuration>